* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark: #1b1d33;
    --light: #FBFBFB;
    --success: #14A44D;
    --error: #DC4C64;
    --warning: #E4A11B;
    --info: #54B4D3;
    --secondary: #9FA6B2;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
}

#notifications {
    position: fixed;
    top: 10px;
    right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#notifications .toast {
    background: var(--light);
    max-width: 24rem;
    width: 100%;
    padding: 0.6rem 0.5rem;
    border-radius: 0.2rem;
    position: relative;
    overflow: hidden;
    animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
    0%{
        transform: translate(100%);
    }
    40%{
        transform: translate(-10%);
    }
    80%{
        transform: translate(10%);
    }
    100%{
        transform: translate(0%);
    }
}
@keyframes hide_toast {
    0%{
        transform: translate(0%);
    }
    40%{
        transform: translate(10%);
    }
    80%{
        transform: translate(-10%);
    }
    100%{
        transform: translate(calc(100% + 20px));
    }
}

#notifications .toast.hide{
    animation: hide_toast 0.3s ease forwards;
}

#notifications .toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    animation: animate_line 5000ms linear forwards;
}

@keyframes animate_line {
    100%{
        width: 0%;
    }
}

#notifications .toast .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
}

#notifications .toast .column span {
    margin-right: auto;
    font-size: 1.07rem;
}

#notifications .toast .column>i {
    font-size: 1.33rem;
}

#notifications .toast .column button {
    font-size: 1.03em;
    color: var(--secondary);
}

#notifications .toast .column button:hover {
    color: var(--dark);
}

.toast.success .column>i {
    color: var(--success);
}

.toast.error .column>i {
    color: var(--error);
}

.toast.warning .column>i {
    color: var(--warning);
}

.toast.info .column>i {
    color: var(--info);
}

button.success,
.toast.success::before {
    background: var(--success);
}

button.error,
.toast.error::before {
    background: var(--error);
}

button.warning,
.toast.warning::before {
    background: var(--warning);
}

button.info,
.toast.info::before {
    background: var(--info);
}

#buttons {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#buttons button {
    padding: 1.22rem 2.4rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
}